/* google font */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* layout */
:root {
  /* --primary: #1aac83; */
  --primary: #FFCD29;
  --primary-complement: #2946FF;
  --error: #e7195a;
}
* {
  box-sizing: border-box;
}
body {
  background: #f1f1f1;
  margin: 0;
}
.home-hero {
  background: var(--primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  height: 300px;
  max-width: 1140px;
  margin: 0 auto;
}

.home-card-container img {
  max-height: 460px;
}